<div class="p-3">
    <mat-card fxFlex="70" class="mt-3 mat-elevation-z0">
        <mat-card-header>

        </mat-card-header>
<!--        <mat-divider></mat-divider>-->
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <img width="60" src="assets/img/logo.png" alt="orange-logo">
            <div fxLayout="column">
                <h1 [style.color]="'#f16e00'">votre facture</h1>
                <h1 [style.color]="'#f16e00'">janvier 2023</h1>
            </div>
        </div>

        <div class="mt-6">
            <div fxLayout="column" fxFlex="30" fxLayoutAlign="start">
                <strong>Votre Compte</strong>
                <p>
                    <span>N° client : </span>
                    <span>CUST0006889005</span>
                </p>
                <p>
                    <span>nombre de contrats: </span>
                    <span>3</span>
                </p>
                <strong class="mt-3">facture N° : 2301321466</strong>
                <p>
                    <span>émise le : </span>
                    <span> 01/01/2023</span>
                </p>
            </div>
            <div fxFlex="40" fxLayoutAlign="center">
                <strong>Malek Gridah</strong>
            </div>
            <div fxFlex="30" fxLayoutAlign="end">
                <strong>--</strong>
                <strong>--</strong>
                <strong>--</strong>
            </div>
        </div>

        <div class="mt-6">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <h1 [style.color]="'#f16e00'">bonjour</h1>
                <h1 [style.color]="'#f16e00'">عسلامة</h1>
            </div>
            <mat-divider [style.color]="'#f16e00'"></mat-divider>
            <div>
                <div class="mt-2" fxLayout="column" fxFlex="30" fxLayoutAlign="start">
                    <strong>Total hors taxes</strong>
                    <p class="mt-1" fxLayout="column">
                        <strong>TVA 19% </strong>
                        <span>(montant soumis à la TVA 19%)</span>
                    </p>
                    <p class="mt-1" fxLayout="column">
                        <strong>droit de timbre sur consommation 14% </strong>
                        <span>(montant soumis au droit de timbre)</span>
                    </p>
                </div>
                <div class="mt-2" fxLayout="column" fxFlex="40" fxLayoutAlign="center center">
                    <strong>1 857.617</strong>
                    <p class="mt-1" fxLayout="column">
                        <strong>356.367 </strong>
                        <span>(1 875.617)</span>
                    </p>
                    <p class="mt-1" fxLayout="column">
                        <strong>119.700 </strong>
                        <span>(2 231.984)</span>
                    </p>
                </div>
                <div class="mt-2" fxLayout="column" fxFlex="30" fxLayoutAlign="center end">
                    <strong>المبلغ الجملي الخالي من الأداء</strong>
                    <p class="mt-1" fxLayout="column">
                        <strong>الأداء على القيمة المضافة 19 %</strong>
                        <span>(المبلغ الخاضع للأداء 19 %)</span>
                    </p>
                    <p class="mt-1" fxLayout="column">
                        <strong>معلوم الطابع الجبائي عن الاستهلاك 14 % </strong>
                        <span>(الجبائي الطابع لمعلوم الخاضع المبلغ(</span>
                    </p>
                </div>
            </div>
            <mat-divider [style.color]="'#f16e00'"></mat-divider>
            <div class="mt-1" fxLayout="row wrap" fxLayoutAlign="space-between center">
                <h3>Montant TTC</h3>
                <h3>2 351.685</h3>
                <h3>المبلغ الجملي</h3>
            </div>

            <div class="div-border p-2 mt-4">
                <div [style.color]="'#f16e00'" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <h3 fxFlex="30">montant à payer</h3>
                    <h3 fxFlex="40">2 351.685</h3>
                    <h3 fxFlex="30">المبلغ المطلوب</h3>
                </div>
                <div [style.color]="'#f16e00'" class="mt-1" fxLayout="row wrap" fxLayoutAlign=" center">
                    <h3 fxFlex="30">date limite de paiement</h3>
                    <h3 fxFlex="40">01/01/2023</h3>
                    <h3 fxFlex="30">آخر أجل للدّفع</h3>
                </div>
            </div>

            <div class="div-border p-2 mt-6">
                <h3 [style.color]="'#f16e00'">Avec orange plus besoin de vous déplacer pour payer vos factures !</h3>
                <ul class="mr-2">
                    <li>
                        <p>
                            Téléchargez My Orange et payez vos factures par carte bancaire sans frais supplémentaires dans la rubrique facture'' Réglez toutes vos factures en ligne '' 24h/24 et 7j/7.
                            L'application My Orange, vous permet aussi de suivre facilement votre consommation, recharger vos lignes Orange,
                            activer vos options préférées et le chat avec un conseiller en cas de besoin.
                        </p>
                    </li>
                    <li>
                        <p>
                            Le service Orange Money vous permet de consulter et payer votre facture instantanément à partir de votre mobile en
                            toute sécurité 24h/24 et 7j/7. Il vous suffit d'avoir une carte bancaire.
                            Inscrivez-vous gratuitement en composant*139 sur votre mobile et suivez les instructions. Le montant de la facture sera débité du solde de votre compte bancaire sans frais supplémentaires.
                            Orange Money vous propose d'autres services pratiques comme recharger vos lignes Orange, une clé ou airbox 4G ou
                            un forfait flybox
                        </p>
                    </li>
                </ul>
            </div>

            <h5 class="my-3">Orange Tunisie Internet – Siège social : Immeuble Orange, Centre Urbain Nord, 1003, Tunis, Tunisie - SA au capital de 8.193.940 DT, Mat Fiscal : 601549 D/A/M/000.</h5>

            <mat-divider></mat-divider>
        </div>
    </mat-card>
</div>
