<!--desc="User: ADMX  Customer: MALEK GRIDAH  CustomerCode: 1.11242661  Customer public key: CNT6483692"-->


<div class="p-3">
    <app-content-header
            icon="person"
            [desc]="csCode"
            [hideBreadcrumb]="false"
            [hasBgImage]="true"
            [class]="'pb-2'"></app-content-header>

    <mat-card class="div-border mt-3 mat-elevation-z0">
        <mat-card-header>
            <mat-chip-list>
                <mat-chip [class.gradient-red]="customerOverview.customer.csStatus == 'd'"
                          [class.gradient-lime]="customerOverview.customer.csStatus == 's'"
                          [class.gradient-gray]="customerOverview.customer.csStatus == 'i'"
                          [class.gradient-green]="customerOverview.customer.csStatus == 'a'">{{
                        customerOverview.customer.csStatus == 'a'
                            ? 'Active' : customerOverview.customer.csStatus == 'd' ? 'Deactivated' : customerOverview.customer.csStatus == 's' ? 'Suspended' : 'Interested'
                    }}
                </mat-chip>
            </mat-chip-list>
            <div>
                <strong>Customer code:</strong> {{ customerOverview.customer.csCode }} <strong>Customer public key:</strong> {{ customerOverview.customer.csIdPub }}
            </div>
<!--            <mat-card-title> </mat-card-title>-->
            <!--        <mat-card-subtitle>test</mat-card-subtitle>-->
        </mat-card-header>
        <mat-divider></mat-divider>
        <ng-template fxLayoutAlign="center center" #loading>
            <mat-spinner strokeWidth="3" [diameter]="50" color="primary"></mat-spinner>
        </ng-template>
        <mat-card-content *ngIf="customerOverview.csId != null; else loading" class="p-2 pt-3" fxLayout="column">
            <div [ngClass]="appSettings.settings.theme =='pink-dark' ? 'customer-tabs-border-dark':'customer-tabs-border-light'" class="customers-tabs users-wrapper">
                <div fxLayout="row wrap">
                    <div fxFlex="100" class="p-0">
                        <div class="p-0 user-content">
                            <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
                                <div class="customer-block user-img">
                                <span class="gradient-orange transition mb-2">
                                    {{ this.getNameAvatar(customerOverview.addresses[0].adrFame, customerOverview.addresses[0].adrLName) }}</span>
                                </div>
                            </div>
                            <mat-divider [vertical]="true"></mat-divider>
                            <div fxFlex="80" fxFlex.xs="70" fxLayout="row wrap" fxLayout.xs="column"
                                 class="user-details">
                                <div class="w-100">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <h4 class="user-name px-2">{{ customerOverview.addresses[0].adrFame }} {{ customerOverview.addresses[0].adrLName }}</h4>
                                        <button mat-icon-button [matMenuTriggerFor]="menu"
                                                #menuTrigger="matMenuTrigger">
                                            <mat-icon color="primary">more_vert</mat-icon>
                                        </button>
                                    </div>
                                    <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                                    <span (mouseleave)="menuTrigger.closeMenu()">
                                        <button mat-menu-item>
                                            <mat-icon>mode_edit</mat-icon>
                                            <span>Edit</span>
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>delete</mat-icon>
                                            <span>Delete</span>
                                        </button>
                                    </span>
                                    </mat-menu>
                                    <mat-divider></mat-divider>
                                </div>
                                <div fxFlex="33.33" fxFlex.xs="100" fxLayout="column" class="info-list px-2">
                                    <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon matTooltip="Status" class="secondary-text-color">person</mat-icon>
                                        <span>Active</span>
                                    </p>
                                    <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon matTooltip="Status Valid From" class="secondary-text-color">event_available</mat-icon>
                                        <span>Valid From {{customerOverview.customer.csStatusDate | date: 'MMM dd, yyyy, hh:mm:ss a'}}</span>
                                    </p>
                                    <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon matTooltip="Customer Group" class="secondary-text-color">groups</mat-icon>
                                        <span>Grand Public</span>
                                        <ng-template #empty>
                                            <span>--</span>
                                        </ng-template>
                                    </p>
                                    <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon matTooltip="Billing Cycle" class="secondary-text-color">payments</mat-icon>
                                        <span *ngIf="customerOverview.customer.csBillcycle; else empty">{{customerOverview.customer.csBillcycle}}</span>
                                        <ng-template #empty>
                                            <span>--</span>
                                        </ng-template>
                                    </p>
                                </div>
                                <div fxFlex="33.3" fxFlex.xs="100" fxLayout="column" class="info-list px-2">
                                    <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon matTooltip="ID Document No." class="secondary-text-color">badge</mat-icon>
                                        <span *ngIf="customerOverview.addresses[0].idNo; else empty">{{ customerOverview.addresses[0].idNo}}</span>
                                        <ng-template #empty>
                                            <span>--</span>
                                        </ng-template>
                                    </p>
                                    <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon matTooltip="Email" class="secondary-text-color">mail_outline</mat-icon>
                                        <span *ngIf="customerOverview.addresses[0].adrEmail; else empty">{{ customerOverview.addresses[0].adrEmail }}</span>
                                        <ng-template #empty>
                                            <span>--</span>
                                        </ng-template>
                                    </p>
                                    <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon matTooltip="Contact phone" class="secondary-text-color">call</mat-icon>
                                        <span *ngIf="customerOverview.contacts.length == -1; else empty">Born On {{ customerOverview.addresses[0].adrBirthDate}}</span>
                                        <ng-template #empty>
                                            <span>--</span>
                                        </ng-template>
                                    </p>
                                    <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon matTooltip="Birthdate" class="secondary-text-color">cake</mat-icon>
                                        <span *ngIf="customerOverview.addresses[0].adrBirthDate; else empty">Born On {{ customerOverview.addresses[0].adrBirthDate | date: 'MMM dd, yyyy'}}</span>
                                        <ng-template #empty>
                                            <span>--</span>
                                        </ng-template>
                                    </p>
                                </div>
                                <div fxFlex="33.33" fxFlex.xs="100" fxLayout="column" class="info-list px-2">
                                    <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon matTooltip="Language" class="secondary-text-color">language</mat-icon>
                                        <span *ngIf="customerOverview.customer.csLanguage; else empty">{{ customerOverview.customer.csLanguage }}</span>
                                        <ng-template #empty>
                                            <span>--</span>
                                        </ng-template>
                                    </p>
                                    <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon matTooltip="Nationality" class="secondary-text-color">flag</mat-icon>
                                        <span *ngIf="customerOverview.customer.csNationality; else empty">{{ customerOverview.customer.csNationality }}</span>
                                        <ng-template #empty>
                                            <span>--</span>
                                        </ng-template>
                                    </p>
                                    <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon matTooltip="Password" class="secondary-text-color">password</mat-icon>
                                        <span *ngIf="customerOverview.customer.csPassword; else empty">{{ customerOverview.customer.csPassword }}</span>
                                        <ng-template #empty>
                                            <span>--</span>
                                        </ng-template>
                                    </p>
                                    <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon matTooltip="Current Balance" class="secondary-text-color">account_balance</mat-icon>
                                        <span>--</span>
                                    </p>
                                </div>
                                <div fxFlex="100" fxLayout="column" class="info-list px-2">
                                    <p fxLayout="row" fxLayoutAlign="start center">
                                        <mat-icon matTooltip="Address" class="secondary-text-color">location_on</mat-icon>
                                        <span>{{customerOverview.addresses[0].adrStreet}},
                                            {{customerOverview.addresses[0].adrCity}},
                                            {{customerOverview.addresses[0].adrZip}},
                                            {{customerOverview.customer.csNationality}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3" fxFlex="100">
                <mat-tab-group *ngIf="customerOverview.contacts?.length > 0"
                               [ngClass]="appSettings.settings.theme =='pink-dark' ? 'customer-tabs-border-dark':'customer-tabs-border-light'"
                               class="customers-tabs pb-1" mat-stretch-tabs>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-2">description</mat-icon>
                            Contracts
                        </ng-template>
                        <ng-container *ngIf="customerOverview.contacts?.length == 0">
                            No Data
                        </ng-container>
                        <app-contract-customer-tab *ngIf="customerOverview.contacts.length > 0"
                                                   [contracts]="customerOverview?.contacts"></app-contract-customer-tab>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-2">payments</mat-icon>
                            Billing
                        </ng-template>
                        <app-billing-customer-tab></app-billing-customer-tab>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-2">badge</mat-icon>
                            Customer Details
                        </ng-template>
                        <app-customer-details-customer-tab></app-customer-details-customer-tab>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-card-content>
    </mat-card>
</div>





