<mat-sidenav-container class="h-100">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
       <!-- <form [formGroup]="form"  (ngSubmit)="login()" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6"> -->
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
          <app-content-header
                [icon]="'exit_to_app'"
                [title]="'Login'"
                [hideBreadcrumb]="true"
                [hasBgImage]="true"
                [class]="'py-4'">
            </app-content-header>
            <div class="p-3">
                <!-- <a mat-button routerLink="/register" color="accent" class="w-100">Não tens uma conta? Registe-se!</a> -->
                <mat-form-field class="w-100" appearance="outline">
                    <mat-icon matSuffix>person</mat-icon>
                    <input matInput placeholder="Username" type="text" formControlName="username">
                    <mat-error *ngIf="form.controls.username.errors?.required">Username is required</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <input matInput placeholder="Password"  [type]="hide ? 'password' : 'text'" formControlName="password" >
                    <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                    <mat-error *ngIf="form.controls.password.hasError('minlength')">A senha deve conter no minimo 3 caracteres</mat-error>
                </mat-form-field>
                <mat-checkbox formControlName="rememberMe" class="my-2">Remember me</mat-checkbox>
                <button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit" [disabled]="!form.valid">Login</button>
                <div class="divider-wrapper"><span class="divider">Or</span></div>
                <div class="mt-4">
                    <button mat-stroked-button (click)="login()" class="w-100">
                    <span class="social-logo-wrapper">
                        <img width="20px" height="20px" class="social-logo" src="/assets/img/logo.png" alt="Orange Care">
                    </span>
                        <span class="social-text">Continue with Orange Authorization</span>
                    </button>
                </div>
            </div>
        </form>
  </div>
</mat-sidenav-container>

