.filters {
  .mat-form-field {
    width: 100%;
  }
}

.bg-tt {
  transition: height 0.3s ease;
}

h3 {
  color: #ff7900;
}

.bg-primary-trs {
  background: rgba(255, 121, 0, 0.7) !important;
}

table {
  width: 100%;
}

.div-border {
  border-radius: 12px;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.section-container {
  border: 1px solid #c4c6d0;
  border-radius: 12px;
}

mat-form-field{
  padding: 0 !important;
}

form {
  padding: 0 !important;
}

.search-spinner{
  height: 20px;
  width: 20px;
}





