.filters {
  .mat-form-field {
    width: 100%;
  }
}

table {
  width: 100%;
}


.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.section-container {
  border: 1px solid #c4c6d0;
  border-radius: 12px;
}

mat-form-field{
  padding: 0 !important;
}

form {
  padding: 0 !important;
}

.search-spinner{
  height: 20px;
  width: 20px;
}





