<app-content-header
        icon="person_search"
        desc="Search For Customer"
        [hideBreadcrumb]="false"
        [hasBgImage]="true"
        [class]="'pb-2'"></app-content-header>

<div class="p-3">
    <mat-card class="mat-elevation-z4">
        <form [formGroup]="selectForm" [style.font-size.px]="13" class="filters" fxLayout="row wrap" fxLayoutGap="15px grid">
            <div fxFlex="25" fxFlex.xs="50" fxFlex.sm="25">
                <mat-form-field appearance="outline" matTooltip="filter">
                    <mat-label>Resource Type</mat-label>
                    <mat-select formControlName="resType">
                        <mat-option [value]="'smNum'">Device numbers</mat-option>
                        <mat-option [value]="'devPortNum'">Device ports</mat-option>
                        <mat-option [value]="'dirNum'">Directory numbers</mat-option>
                        <mat-option [value]="'portNum'">Service ports</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>sort</mat-icon>
                </mat-form-field>
            </div>
            <div fxFlex="25" fxFlex.xs="50" fxFlex.sm="25">
                <mat-form-field appearance="outline" matTooltip="filter">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="csStatus">
                        <mat-option [value]="'a'">Active</mat-option>
                        <mat-option [value]="'d'">Deactive</mat-option>
                        <mat-option [value]="'i'">Interested</mat-option>
                        <mat-option [value]="'s'">Suspended</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>filter_list</mat-icon>
                </mat-form-field>
            </div>
            <div fxFlex="25" fxFlex.xs="50" fxFlex.sm="25">
                <mat-form-field appearance="outline" matTooltip="filter">
                    <mat-label>Payment responsible</mat-label>
                    <mat-select formControlName="paymentResp">
                        <mat-option [value]="'all'"> All </mat-option>
                        <mat-option [value]="false"> No </mat-option>
                        <mat-option [value]="true"> Yes </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>reorder</mat-icon>
                </mat-form-field>
            </div>
            <div fxFlex="25" fxFlex.xs="50" fxFlex.sm="25">
                <mat-form-field appearance="outline" matTooltip="filter">
                    <mat-label>Contract responsible</mat-label>
                    <mat-select formControlName="csContrResp">
                        <mat-option [value]="'all'"> All </mat-option>
                        <mat-option [value]="false"> No </mat-option>
                        <mat-option [value]="true"> Yes </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>list</mat-icon>
                </mat-form-field>
            </div>
        </form>
        <mat-divider></mat-divider>

<!--        <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="20px grid">-->

<!--            <div fxFlex="50" fxFlex.sm="50">-->
<!--                <div>-->
<!--                    <mat-form-field [style.font-size.px]="14">-->
<!--                        <mat-label>Search</mat-label>-->
<!--                        <input  type="text" matInput #input />-->
<!--                    </mat-form-field>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div fxFlex="50" fxLayoutAlign="end center">-->
<!--                <button mat-raised-button color="primary">-->
<!--        <span matTooltip="Search">Search</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <mat-divider></mat-divider>-->
        <div class="pt-1">
            <div class="filters py-3" fxLayout="row wrap">
<!--                <h2 fxLayoutAlign="center center" fxFill>Customer Info</h2>-->
                <div class=" py-1" fxFlex="68" fxLayoutGap="15px grid">
                   <form [formGroup]="searchForm" fxLayoutAlign="space-around center" [style.font-size.px]="13">
                       <div class="filters" fxLayout="row wrap">
                           <mat-form-field fxFlex="49" appearance="outline">
                               <mat-label>Resource Number</mat-label>
                               <input matInput placeholder="50000000" formControlName="resNo">
                               <mat-hint>Customer last name</mat-hint>
                           </mat-form-field>
                           <mat-form-field fxFlexOffset="2" fxFlex="49" appearance="outline">
                               <mat-label>ID document No</mat-label>
                               <input matInput placeholder="01123123" formControlName="adrIdno">
                               <mat-hint>Customer last name</mat-hint>
                           </mat-form-field>
                           <mat-form-field fxFlex="49" appearance="outline">
                               <mat-label>Last Name</mat-label>
                               <input matInput placeholder="Doe" formControlName="adrLname">
                               <mat-hint>Customer last name</mat-hint>
                           </mat-form-field>
                           <mat-form-field fxFlexOffset="2" fxFlex="49" appearance="outline">
                               <mat-label>First Name</mat-label>
                               <input matInput placeholder="john" formControlName="adrFname">
                               <mat-hint>Customer last name</mat-hint>
                           </mat-form-field>
                           <mat-form-field fxFlex="49" appearance="outline">
                               <mat-label>Customer Code</mat-label>
                               <input matInput placeholder="1.10000000" formControlName="csCode">
                               <mat-hint>Customer Code</mat-hint>
                           </mat-form-field>
                           <mat-form-field fxFlexOffset="2" fxFlex="49" appearance="outline">
                               <mat-label>Public Key</mat-label>
                               <input matInput placeholder="CNT00000001" formControlName="csIdPub">
                               <mat-hint>Customer public key</mat-hint>
                           </mat-form-field>
                       </div>
                   </form>
                </div>
                <form fxFlexOffset="5" [formGroup]="optionForm">
                    <div fxLayout="column">
                        <h3>Search Option</h3>
                        <span class="p-1 example-list-section">
                        <ul fxFlexOffset="15">
                            <li>
                                <mat-checkbox formControlName="flagMatchcode">Matchcode search for last name</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox formControlName="flagCase">Match case</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox formControlName="includeResHist">Include history of resource</mat-checkbox>
                            </li>
                        </ul>
                    </span>
                        <h3>Max. search results</h3>
                        <span class="p-1 example-list-section">
                        <mat-form-field fxFlexOffset="15">
                            <mat-label>Search Count</mat-label>
                            <input formControlName="srchCount" matInput>
                        </mat-form-field>
                    </span>
                    </div>
                </form>
            </div>
        </div>

        <mat-card-actions fxLayoutAlign="center center">
            <button  mat-raised-button (click)="resetForm()" color="warn">Reset</button>
            <button  mat-raised-button (click)="viewFormData()" color="primary">Search</button>
        </mat-card-actions>

    </mat-card>

    <mat-card *ngIf="show" class="mt-3 mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>Search Result</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="custCode">
                    <th mat-header-cell *matHeaderCellDef width="12%"> Customer Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.csCode}} </td>
                </ng-container>
                <ng-container matColumnDef="public">
                    <th mat-header-cell *matHeaderCellDef width="12%"> Public key </th>
                    <td mat-cell *matCellDef="let element"> {{element.csIdPub}} </td>
                </ng-container>
                <ng-container matColumnDef="customer">
                    <th mat-header-cell *matHeaderCellDef width="18%"> Customer </th>
                    <td mat-cell *matCellDef="let element"> {{element.adrLname}} {{element.adrFname}} </td>
                </ng-container>
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef width="13%"> City </th>
                    <td mat-cell *matCellDef="let element"> {{element.adrCity}} </td>
                </ng-container>
                <ng-container matColumnDef="street">
                    <th mat-header-cell *matHeaderCellDef width="22%"> Street </th>
                    <td mat-cell *matCellDef="let element"> {{element.adrStreet}}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef width="10%"> Status </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-chip-list>
              <span>
                <mat-chip [class.gradient-red]="element.csStatus == 'd'"
                          [class.gradient-lime]="element.csStatus == 's'"
                          [class.gradient-gray]="element.csStatus == 'i'"
                          [class.gradient-green]="element.csStatus == 'a'">{{ element.csStatus == 'a'
                    ? 'Active' : element.csStatus == 'd' ? 'Deactive' : element.csStatus == 's' ? 'Suspended' : 'Interested' }} </mat-chip>
              </span>
                        </mat-chip-list>
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef width="10%">Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button
                                color="primary"
                                matTooltip="edit">
                            <mat-icon class="icon24">visibility</mat-icon>
                        </button>&nbsp;
                        <button mat-icon-button
                                color="accent"
                                matTooltip="edit">
                            <mat-icon class="icon24">create</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="loading" [class.mt-5]="loading" fxLayout="column" fxLayoutAlign="center center">
                <mat-spinner strokeWidth="3" [diameter]="50" color="primary"></mat-spinner>
            </div>

            <div class="mt-5" *ngIf="!loading && (dataSource.data == null || dataSource.data?.length==0)" fxLayoutAlign="center center">
                <h3>No Data</h3>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        </mat-card-footer>
    </mat-card>
</div>
