<div class="sidenav-menu-outer" [perfectScrollbar]="psConfig" [disabled]="settings.fixedSidenavUserContent">
    <div fxLayout="row" fxLayoutAlign="start start" class="user-block mb-2" [class.py-3]="settings.menuType != 'mini'" [class.py-2]="settings.menuType == 'mini'">
        <div fxFlexOffset="5">
            <img src="assets/img/users/default-avatar.png" alt="user-image">
        </div>
        <div fxFlexOffset="5" fxLayout="column">
            <h2 *ngIf="settings.menuType != 'mini'" class="mt-2">ADMX</h2>
            <p *ngIf="settings.menuType == 'default'" class="secondary-text-color">Administrator</p>
        </div>
    </div>
    <div id="vertical-menu" [perfectScrollbar]="psConfig" [disabled]="!settings.fixedSidenavUserContent">
        <app-vertical-menu [menuItems]="menuItems" [menuParentId]="0"></app-vertical-menu> 
    </div>
</div>

