.user-block{
    border-radius: 12px;
    background-color: #101010;
    img{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border: 1px solid rgba(0,0,0,.12);
    }
    h2{
        font-size: 16px;
        font-weight: 400;
    }
    p{
        font-size: 13px;
    }
}
.sidenav-menu-outer{
    background-color: #191c1c;
    height: 100%;
    padding: 12px;
    border-top-right-radius: 12px !important;
}
#vertical-menu.ps{
    height: calc(100% - 180px);
}
